<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty name="appName" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>172.19.0.1:5044</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"${appName}"}</customFields>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Displays the Hibernate SQL statements in your log instead of STDOUT like showSql does-->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="logstash"  />-->
    </root>
</configuration>